@{
    ViewBag.Title = "DashBoard";

}

<div class="text-center">
    <ul class="stats_box">
        <li>
            <div class="sparkline pie_week" style="background-color: #2699D5;"></div>
            <div class="stat_text">
                <strong>@ViewBag.DashboardData.CounterNewSites</strong> News
                <span class="percent up"> <i class="fa fa-caret-up"></i> +11</span>
            </div>
        </li>
        <li>
            <div class="sparkline pie_week" style="background-color: #00B050;"></div>
            <div class="stat_text">
                <strong>@ViewBag.DashboardData.CounterInProgressSites </strong> In Progress
                <span class="percent up"<i class="fa fa-caret-up"></i> +6</span>
            </div>
        </li>
        <li>
            <div class="sparkline pie_week" style="background-color: #404040;"></div>
            <div class="stat_text">
                <strong>@ViewBag.DashboardData.CounterClosedSites</strong> Closed
                <span class="percent up"><i class="fa fa-caret-up"></i> +4</span>
            </div>
        </li>

    </ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="box" style="text-align:center;">
            <br />
            <canvas id="myChart" width="300" height="300"></canvas>
        </div>
    </div>
</div>
@Scripts.Render("~/Content/lib/chartjs/chartjs.js")
<script>

    var data = [
        {
            value: @ViewBag.DashboardData.CounterNewSites,
            color: "#2699D5",
            highlight: "#2699D5",
            label: "News"
        },
        {
            value: @ViewBag.DashboardData.CounterInProgressSites,
            color: "#00B050",
            highlight: "#00B050",
            label: "In Progress"
        },
        {
            value: @ViewBag.DashboardData.CounterClosedSites,
            color: "#404040",
            highlight: "#404040",
            label: "Closed"
        }
    ]
    var ctx = document.getElementById("myChart").getContext("2d");
    var myNewChart = new Chart(ctx).Pie(data);


</script>
